/* Reset */
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: rgba(0, 0, 0, 0.952);
   color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
   color: inherit;
   text-decoration: none;
}

.flex {
   display: flex;
}

/* Header */

.header {
   padding: 20px;
   margin: 20px;
}

.header .flex {
   align-items: center;
   justify-content: space-between;
}

.headerLink a {
   padding: 10px;
}

.header .header__icon {
   font-size: 25px;
}


/* Main */
.main {
   background-image: url("./assets/fotos/capaFundo.jpg");
   background-repeat: no-repeat;
   background-position: top;
   background-size: 1520px;
   height: 86vh;
   display: flex;
   align-items: center;
}

.main .flex {
   flex-direction: column;
   margin: 150px;
}

.main__text h1 {
   margin: 20px 0;
   font-size: 40px;
}

.main__text p {
   margin: 20px 0;
}

.main__button button {
   margin-right: 15px;
   padding: 5px 25px;
   font-size: 20px;
   border: 1px solid;
   border-radius: 15px;
   background-color: transparent;
   color: inherit;
}

/* About */

.about {
   padding: 0px 0px 0px 50px;
}

.about .flex {
   justify-content: center;
   align-items: center;
   gap: 50px;
}

.about__text h1 {
   padding-bottom: 20px;
}

span {
   color: rgb(7, 201, 65);
}

.about__text p {
   text-align: justify;
}

.about__img img {
   height: auto;
   width: 120vh;
   border-radius: 10px;
   box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.5);
}

/* Projects */

.projetos {
   padding: 30px;
   margin: 20px;
   max-height: 100vh;
   
}
.projetos__skills{
   width: 350px; /* Define um tamanho fixo para a barra lateral */
   flex-shrink: 0;
}

.projetos .flex {
   gap: 90px;
}

.projetos .projetos__ferramentas {
   margin-bottom: 70px;
}

.projetos__ferramentas h2 {
   margin-bottom: 30px;
}

.projetos .projetos__icon {
   font-size: 60px;
   margin-right: 20px;
   margin-bottom: 10px;
}

.projetos__interesses ul {
   margin: 20px;
}

.projetos__interesses li {
   margin-bottom: 10px;
}

.projetos__projeto {
   max-height: 70vh; 
   overflow: hidden;
}

.projetos__projeto h2 {
   margin-bottom: 30px;
}
.projetos-container{
   overflow-y: auto;
   max-height: 60vh;
   padding-right: 10px; 
}
.projetos-container::-webkit-scrollbar {
   width: 6px;
}

.projetos-container::-webkit-scrollbar-thumb {
   background-color: #888;
   border-radius: 10px;
}
.projetos-card {
   margin-bottom: 30px;
}

.projetos-card img {
   height: 200px;
   margin-bottom: 20px;
   border-radius: 15px;
}
.ferramenta-container{
   display: inline-flex;
}